<link rel="stylesheet" href="/stylesheets/home-style.css"/>
<link rel="stylesheet" href="/stylesheets/queue-style.css"/>
<link rel="stylesheet" href="/stylesheets/admin-queue-style.css"/>
<div class="error-message invisible"> <p> Error : Connection with the server has been lost. Please wait to see if the connection is reestablished. </p>
    <p> If the problem persists, please contact an admin. </p>
</div>

<div class="queue-title">   
    <a class="button" href="/spadmin/" style="margin-bottom:15px"> <button> Back </button> </a>
    <div>
        <img id="search-button" src="/images/queue/search.webp" alt="search">
        {{#if searching}}
            <a class="close-button" href="/spadmin/queue" aria-label="Cancel search" id="cancel-search"> </a>
        {{/if}}
    </div>
</div>
{{#if notEmpty}}
<h2> Ready : </h2>
<div class="commands-container ready" id="ready-container">
{{#each users}}
    {{#if this.ready}}
    {{#unless this.delivered}}
<div class="command-wrapper" id={{this.commandId}}>
    <div class="command-container">
        <div class="com-id">
            <div>
                {{this.commandId}}
            </div>
        </div>
        <div class="command-info-container">
            <p class="title"> {{this.firstName}} {{this.lastName}} </p>
            <div class="command-infos">
                    <p> {{{this.foodString}}} </p>
                </div>
        </div>
        <div class="command-time-container">
            <div>
                {{this.time}}
            </div>
        </div>
        <div class="command-price-container">
            <div>
                {{this.price}}€
            </div>
        </div>
        <div class="command-widgets">
            <div class="wprepare {{#if this.preparation}} activated {{/if}}" data-id={{this.commandId}}> </div>
            <div class="send activated" data-id={{this.commandId}}> </div>
            <div class="validate" data-id={{this.commandId}}> </div>
        </div>
    </div>
</div>
    {{/unless}}
    {{/if}}
{{/each}}
</div>
<h2> Preparing : </h2>
<div class="commands-container prepare" id="preparation-container">
{{#each users}}
    {{#if this.preparation}}
    {{#unless this.ready}}
    {{#unless this.delivered}}
<div class="command-wrapper" id={{this.commandId}}>
    <div class="command-container">
        <div class="com-id">
            <div>
                {{this.commandId}}
            </div>
        </div>
        <div class="command-info-container">
            <p class="title"> {{this.firstName}} {{this.lastName}} </p>
            <div class="command-infos">
                    <p> {{{this.foodString}}} </p>
                </div>
        </div>
        <div class="command-time-container">
            <div>
                {{this.time}}
            </div>
        </div>
        <div class="command-price-container">
            <div>
                {{this.price}}€
            </div>
        </div>
        <div class="command-widgets">
            <div class="wprepare activated" data-id={{this.commandId}}> </div>
            <div class="send" data-id={{this.commandId}}> </div>
            <div class="validate" data-id={{this.commandId}}> </div>
        </div>
    </div>
</div>
    {{/unless}}
    {{/unless}}
    {{/if}}
{{/each}}
</div>
<h2> Wait list : </h2>
<div class="commands-container" id="vanilla-container">
{{#each users}}
    {{#unless this.delivered}}
    {{#unless this.ready}}
    {{#unless this.preparation}}
<div class="command-wrapper" id={{this.commandId}}>
    <div class="command-container">
        <div class="com-id">
            <div>
                {{this.commandId}}
            </div>
        </div>
        <div class="command-info-container">
            <p class="title"> {{this.firstName}} {{this.lastName}} </p>
            <div class="command-infos">
                    <p> {{{this.foodString}}} </p>
                </div>
        </div>
        <div class="command-time-container">
            <div>
                {{this.time}}
            </div>
        </div>
        <div class="command-price-container">
            <div>
                {{this.price}}€
            </div>
        </div>
        <div class="command-widgets">
            <div class="wprepare" data-id={{this.commandId}}> </div>
            <div class="send" data-id={{this.commandId}}> </div>
            <div class="validate" data-id={{this.commandId}}> </div>
        </div>
    </div>
</div>
    {{/unless}}
    {{/unless}}
    {{/unless}}
{{/each}}
</div>
<h2> Delivered : </h2>
<div class="commands-container delivered" id="delivered-container">
{{#each users}}
    {{#if this.delivered}}
<div class="command-wrapper" id={{this.commandId}}>
    <div class="command-container">
        <div class="com-id">
            <div>
                {{this.commandId}}
            </div>
        </div>
        <div class="command-info-container">
            <p class="title"> {{this.firstName}} {{this.lastName}} </p>
            <div class="command-infos">
                    <p> {{{this.foodString}}} </p>
                </div>
        </div>
        <div class="command-time-container">
            <div>
                {{this.time}}
            </div>
        </div>
        <div class="command-price-container">
            <div>
                {{this.price}}€
            </div>
        </div>
        <div class="command-widgets">
            <div class="wprepare {{#if this.preparation}} activated {{/if}}" data-id={{this.commandId}}> </div>
            <div class="send {{#if this.ready}} activated {{/if}}" data-id={{this.commandId}}> </div>
            <div class="validate activated" data-id={{this.commandId}}> </div>
        </div>
    </div>
</div>
    {{/if}}
{{/each}}
{{else}}
<h2 style="margin-top: 50px; text-align:center; align-self:center"> <em> Wow ! Such void ! </em> </h2>
{{/if}}
</div>
<script src="/javascripts/queueAdminWS.js"></script>
<script src="/javascripts/queueAdminSearch.js"></script>
<script src="/javascripts/queueAdminWidgets.js"></script>
