<link rel="stylesheet" href="/stylesheets/home-style.css"/>
<link rel="stylesheet" href="/stylesheets/queue-style.css"/>
<link rel="stylesheet" href="/stylesheets/admin-queue-style.css"/>
<div class="error-message invisible"> <p> Error : Connection with the server has been lost. Please wait to see if the connection is reestablished. </p>
    <p> If the problem persists, please contact an admin. </p>
</div>
<a class="go-back" href="/spadmin/"> <img src="/images/spadmin/back_arrow.webp" alt="Back Arrow"> </a>
<div class="queue-title">   
    <h1> Manage queue :</h1>
    <div>
        <img id="search-button" src="/images/queue/search.webp" alt="search">
        {{#if searching}}
            <a class="close-button" href="/spadmin/queue" aria-label="Cancel search"> </a>
        {{/if}}
    </div>
</div>
<div class="commands-container">
{{#if notEmpty}}
    {{#each users}}
        {{#unless this.delivered}}
<div class="command-wrapper" id={{this.userId}}>
    <div class="command-container {{#if this.ready}} ready {{/if}} {{#if this.preparation}} prepare {{/if}}">
        <div class="command-sub-container">
            <p class="title"> {{this.firstName}} {{this.lastName}} </p>
            <div class="close-button" data-id={{this.userId}}> </div>
        </div>
        <div class="command-sub-container">
            <div class="com-id">
                <p class="command-id"> {{this.userId}} </p>
                <div class="image-holder"> </div>
            </div>
            <div class="command-all">
                <div class="command-infos">
                    <p> {{this.burger}} </p>
                    <p> {{this.fries}} </p>
                    <p> {{this.drink}} </p>
                </div>
                <div class="command-widgets">
                    <div class="wprepare {{#if this.preparation}} activated {{/if}}" data-id={{this.userId}}> </div>
                    <div class="send {{#if this.ready}} activated {{/if}}" data-id={{this.userId}}> </div>
                    <div class="validate" data-id={{this.userId}}> </div>
                </div>
            </div>
        </div>
        <span class="price-tag"> {{this.price}}€ </span>
    </div>
    {{#if ../searching}}
        <p style="margin-top:8px"> {{this.time}} </p>
    {{/if}}
</div>
        {{/unless}}
    {{/each}}
{{else}}
    <h2 style="margin-top: 50px; text-align:center"> <em> Wow ! Such void ! </em> </h2>
{{/if}}
</div>
{{#unless searching}}
    <div class="page-selector">
        {{#if previousTime}}
            <a class="right-arrow" href={{previousTime}} aria-label="Previous time frame"></a>
        {{/if}}
        <span> {{timeStamp}} </span>
        {{#if nextTime}}
            <a class="left-arrow" href={{nextTime}} aria-label="Next time frame"></a>
        {{/if}}
    </div>
{{/unless}}
<script src="/javascripts/queue.js"></script>
<script src="/javascripts/queueAdmin.js"></script>