<link rel="stylesheet" href="/stylesheets/home-style.css"/>
<link rel="stylesheet" href="/stylesheets/queue-style.css"/>
<link rel="stylesheet" href="/stylesheets/admin-queue-style.css"/>
<link rel="stylesheet" href="/stylesheets/spadmin-style.css"/>

<a class="button" href="/spadmin/" style="margin-bottom:15px"> <button> Back </button> </a>
<h1 style="margin-top:10px"> Manage the website </h1>

<form action="/spadmin/changePassword" method="POST" class="one-line-form">
    <div class="input-div">
        <label for="password"> Master Password </label>
        <input type="password" id="password" name="password" required maxlength="100">
    </div>
    <input type="submit" value="Change password" id="general-parameters-password-submit-button"/>
</form>

<h2 id="generalParameters"> General Parameters : </h2>
    <form action="/spadmin/updateRegistration" method="POST">
        <input type="submit" value={{#if regisBool}}"Close registration" {{else}} "Open registration" {{/if}} id="general-parameters-registration-submit-button"/>
    </form>

    <table>
        <tr>
            <th> Registration Open : </th>
            <td> {{regisBool}} </td>
        </tr>
        <tr>
            <th> Registration Day : </th>
            <td> {{day}} </td>
        </tr>
        <tr>
            <th> Time Spans : </th>
            <td> {{times}} </td>
        </tr>
        <tr>
            <th> Limit per time : </th>
            <td> {{limit}} </td>
        </tr>
    </table>

    <form action="/spadmin/updateRegistrationDay" method="POST" class="one-line-form">
        <div class="input-div">
            <label for="registrationDay"> Change Day </label>
            <input type="text" id="registrationDay" name="registrationDay" placeholder="Monday, 1st of January 1970" required>
        </div>
        <input type="submit" value="Update Registration Day" id="general-parameters-registration-day-submit-button"/>
    </form>

    <form action="/spadmin/addTimeStamp" method="POST" class="one-line-form">
        <div class="input-div">
            <label for="addTimeStamp"> Change time stamps </label>
            <input type="text" id="addTimeStamp" name="addTimeStamp" placeholder="19h00" required>
        </div>
        <input type="submit" value="Add a time stamp" id="general-parameters-addtime-submit-button"/>
    </form>

    <form action="/spadmin/removeTimeStamp" method="POST" class="one-line-form">
        <div class="input-div">
            <label for="removeTimeStamp">  </label>
            <input type="text" id="removeTimeStamp" name="removeTimeStamp" placeholder="19h00" required>
        </div>
        <input type="submit" value="Remove a time stamp" id="general-parameters-removetime-submit-button"/>
    </form>

    <form action="/spadmin/updateLimit" method="POST" class="one-line-form">
        <div class="input-div">
            <label for="limit"> Limit per time stamp</label>
            <input type="number" id="limit" name="limit" min="1" required>
        </div>
        <input type="submit" value="Update limit" id="general-parameters-limit-submit-button"/>
    </form>

    <a href="/spadmin/downloadUsers" class="button" style="align-self: center;"> <button> Download user database </button> </a>
    <a href="/spadmin/clearUsers" class="button" style="align-self: center;" onclick="return confirm('Are you sure ? There is no going back')"> <button> Delete ALL users </button> </a>

<h2> Food count : </h2>

    <h3> Burgers : </h3>

    <table>
        {{#each burgerCount}}
            <tr>
                <th> {{this.name}} </th>
                <td> x{{this.count}} </td>
            </tr>
        {{/each}}
    </table>

    <h3> Fries : </h3>

    <table>
        {{#each friesCount}}
            <tr>
                <th> {{this.name}} </th>
                <td> x{{this.count}} </td>
            </tr>
        {{/each}}
    </table>

    <h3> Drinks : </h3>

    <table>
        {{#each drinkCount}}
            <tr>
                <th> {{this.name}} </th>
                <td> x{{this.count}} </td>
            </tr>
        {{/each}}
    </table>

<h2 id="burgerMenu"> Burgers Menu </h2>

    <table>
        <tr>
            <th> Identifier </th>
            <th> Name </th>
            <th> Description </th>
            <th> price </th>
        </tr>
        {{#each burgers}}
        <tr>
            <td> {{this.identifier}} </td>
            <td> {{this.name}} </td>
            <td> {{#if this.description}} {{this.description}} {{else}} No description {{/if}} </td>
            <td> {{#if this.price}} {{this.price}}€ {{else}} 0.00€ {{/if}} </td>
            <td> <a class="close-button" href={{this.url}}></a> </td>
        </tr>
        {{/each}}
    </table>

    <form action="/spadmin/AddBurger" method="POST">
        <div class="input-div">
            <label for="bIdentifier"> Burger identifier </label>
            <input type="text" id="bIdentifier" name="bIdentifier" placeholder="Only small letters, no special letters or numbers" required>
        </div>
        <div class="input-div">
            <label for="bName"> Burger name </label>
            <input type="text" id="bName" name="bName" required>
        </div>
        <div class="input-div">
            <label for="bDesc"> Burger description </label>
            <input type="text" id="bDesc" name="bDesc" placeholder="Optional">
        </div>
        <div class="input-div">
            <label for="bPrice"> Burger price </label>
            <input type="text" id="bPrice" name="bPrice" placeholder="Optional, float">
        </div>
        <input type="submit" value="Add burger" id="add-burger-submit-button"/>
    </form>

<h2 id="friesMenu"> Fries Menu </h2>

    <table>
        <tr>
            <th> Identifier </th>
            <th> Name </th>
            <th> Description </th>
            <th> price </th>
        </tr>
        {{#each fries}}
        <tr>
            <td> {{this.identifier}} </td>
            <td> {{this.name}} </td>
            <td> {{#if this.description}} {{this.description}} {{else}} No description {{/if}} </td>
            <td> {{#if this.price}} {{this.price}}€ {{else}} 0.00€ {{/if}} </td>
            <td> <a class="close-button" href={{this.url}}></a> </td>
        </tr>
        {{/each}}
    </table>

    <form action="/spadmin/AddFries" method="POST">
        <div class="input-div">
            <label for="fIdentifier"> Fries identifier </label>
            <input type="text" id="fIdentifier" name="fIdentifier" placeholder="Only small letters, no special letters or numbers" required>
        </div>
        <div class="input-div">
            <label for="fName"> Fries name </label>
            <input type="text" id="fName" name="fName" required>
        </div>
        <div class="input-div">
            <label for="fDesc"> Fries description </label>
            <input type="text" id="fDesc" name="fDesc" placeholder="Optional">
        </div>
        <div class="input-div">
            <label for="fPrice"> Fries price </label>
            <input type="text" id="fPrice" name="fPrice" placeholder="Optional, float">
        </div>
        <input type="submit" value="Add fries" id="add-fries-submit-button"/>
    </form>

<h2 id="drinkMenu"> Drinks Menu </h2>

    <table>
        <tr>
            <th> Identifier </th>
            <th> Name </th>
            <th> Description </th>
            <th> price </th>
        </tr>
        {{#each drinks}}
        <tr>
            <td> {{this.identifier}} </td>
            <td> {{this.name}} </td>
            <td> {{#if this.description}} {{this.description}} {{else}} No description {{/if}} </td>
            <td> {{#if this.price}} {{this.price}}€ {{else}} 0.00€ {{/if}} </td>
            <td> <a class="close-button" href={{this.url}}></a> </td>
        </tr>
        {{/each}}
    </table>

    <form action="/spadmin/AddDrink" method="POST">
        <div class="input-div">
            <label for="dIdentifier"> Drink identifier </label>
            <input type="text" id="dIdentifier" name="dIdentifier" placeholder="Only small letters, no special letters or numbers" required>
        </div>
        <div class="input-div">
            <label for="dName"> Drink name </label>
            <input type="text" id="dName" name="dName" required>
        </div>
        <div class="input-div">
            <label for="dDesc"> Drink description </label>
            <input type="text" id="dDesc" name="dDesc" placeholder="Optional">
        </div>
        <div class="input-div">
            <label for="dPrice"> Drink price </label>
            <input type="text" id="dPrice" name="dPrice" placeholder="Optional, float">
        </div>
        <input type="submit" value="Add drink" id="add-drink-submit-button"/>
    </form>

<a href="/spadmin/clearDatabases" class="button" style="align-self: center;" onclick="return ((confirm('Are you sure ? There is no going back')) ? confirm('Are you REALLY REALLY sure ? There is no WAY to go back') : false )"> <button> Clear databases </button> </a>
