<link rel="stylesheet" href="/stylesheets/home-style.css"/>
{{#unless userRegistrationOpen}}
    {{#if adminRegistrationOpen}}
        <div class="error-message"> <p> Registration are closed. </p>
            <p> However you retain access as an administrator. </p>
        </div>
    {{/if}}
{{/unless}}

{{#if registrationOpen}}
    <h1> Registration for {{day}} </h1>
    {{#if error}}
        <p class="error-message"> Error. Please try again </p>
    {{/if}}
    <form action="register" method="POST">
        <div class="name-holder">
            <div class="input-div">
                <label for="lastName"> Last Name </label>
                <input type="text" id="lastName" name="lastName" placeholder="Doe">
            </div>
            <div class="input-div">
                <label for="firstName"> First Name </label>
                <input type="text" id="firstName" name="firstName" placeholder="John">
            </div>
        </div>
        <div class="input-div">
            <label for="burger"> Burger </label>
            <select name="burger" id="burger">
                {{#each burgers}}
                    <option value={{this.identifier}} id={{this.identifier}} {{#if this.price }} data-price={{this.price}} {{/if}}> {{this.name}} ({{#if this.price}}{{this.price}}{{else}}0.00{{/if}}€) {{#if this.description}}: {{this.description}} {{/if}} </option>
                {{/each}}
            </select>
        </div>
        <div class="input-div">
            <label for="fries"> Fries </label>
            <select name="fries" id="fries">
                {{#each fries}}
                    <option value={{this.identifier}} id={{this.identifier}} {{#if this.price }} data-price={{this.price}} {{/if}}> {{this.name}} ({{#if this.price}}{{this.price}}{{else}}0.00{{/if}}€) {{#if this.description}}: {{this.description}} {{/if}} </option>
                {{/each}}
            </select>
        </div>
        <div class="input-div">
            <label for="drink"> Drink </label>
            <select name="drink" id="drink">
                {{#each drinks}}
                    <option value={{this.identifier}} id={{this.identifier}} {{#if this.price }} data-price={{this.price}} {{/if}}> {{this.name}} ({{#if this.price}}{{this.price}}{{else}}0.00{{/if}}€) {{#if this.description}}: {{this.description}} {{/if}} </option>
                {{/each}}
            </select>
        </div>
        <div class="input-div">
            <label for="time"> Pick up time </label>
            <select name="time" id="time">
                {{#each times}}
                    <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-div input-div-checkbox">
            <input type="checkbox" name="accept" id="accept">
            <label for="accept"> <p> I agree to the General Terms of Use of the website </p> <p> I hereby consent to pay <bold id="price-range"> !IF YOU SEE THIS PLEASE REPORT IT! </bold> to receive my command. </p> </label>
        </div>
        <input type="submit" value="Submit" id="submit-button" disabled/>
    </form>
    <script src='/javascripts/home.js'> </script>
{{else}}
    <img class="huge-logo" src="/images/home/huge_logo.webp" alt="Logo Spatul'As X Corentin">
    <div class="message-container">
        <h1> Registrations are not open ! </h1>
        <em> Come back later... </em>
    </div>
{{/if}}