<link rel="stylesheet" href="/stylesheets/spadmin-style.css"/>
<h1> Kitchen tab </h1>

{{#unless length}}
    <h2 style="margin-top: 50px; text-align:center; border: none"> <em> Wow ! Such void ! </em> </h2>
{{else}}
    <h2> Burgers : </h2>

    <table>
        {{#each burgerCounts}}
            <tr>
                <th> {{this.name}} </th>
                <td> x{{this.count}} </td>
            </tr>
        {{/each}}
    </table>

    <h2> Fries : </h2>

    <table>
        {{#each friesCounts}}
            <tr>
                <th> {{this.name}} </th>
                <td> x{{this.count}} </td>
            </tr>
        {{/each}}
    </table>
{{/unless}}

