<link rel="stylesheet" href="/stylesheets/home-style.css"/>
<link rel="stylesheet" href="/stylesheets/queue-style.css"/>
<div class="queue-title">   
    <h1> Queue :</h1>
    <div>
        <img id="search-button" src="/images/queue/search.webp" alt="search">
        {{#if searching}}
            <a class="close-button" href="/queue" aria-label="Cancel search"> </a>
        {{/if}}
    </div>
</div>
{{#if notEmpty}}
<div class="commands-container">
    {{#each users}}
        {{#unless this.delivered}}
        <div class="command-wrapper">
            <div class="command-name-container">
                <p> {{this.firstName}} </p>
                <p> {{this.lastName}} </p>
            </div>
            <div class="command-container {{#if this.ready}} ready {{else}} {{#if this.preparation}} preparation {{/if}} {{/if}} ">
                <p> {{this.userId}} </p>
                <div class="image-holder"></div>
            </div>
            {{#if ../searching}}
                <p> {{this.time}} </p>
            {{/if}}
        </div>
            
        {{/unless}}
    {{/each}}
</div>
{{else}}
    <h2 style="margin-top: 50px; text-align:center"> <em> Wow ! Such void ! </em> </h2>
{{/if}}
{{#unless searching}}
    <div class="page-selector">
        {{#if previousTime}}
            <a class="right-arrow" href={{previousTime}} aria-label="Previous time frame"></a>
        {{/if}}
        <span> {{timeStamp}} </span>
        {{#if nextTime}}
            <a class="left-arrow" href={{nextTime}} aria-label="Next time frame"></a>
        {{/if}}
    </div>
{{/unless}}
<div class="reloader">
    <p> Last update : <span id="last-update-time"> </span> </p>
    <img src="/images/queue/reload.webp" alt="Reload" id="reload-button">
</div>
<script src="javascripts/queue.js"></script>




